<nav>
  <div class="nav-left">
    <button>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkNEBO2OUKQjP-RSbIZae3jIq76g3rMrn9vQ&s" alt="Menu Icon" class="nav-icon" />
    </button>
  </div>
  <div class="nav-center">
    <img src="https://p16-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/637af936fbcce483099564ee5fcde1b3.jpeg" alt="ABYLU Store Logo" class="nav-logo" />
    <span class="store-title">ABYLU Store</span>
    <span>⭐⭐⭐⭐⭐ 4.9/5</span>
  </div>
  <div class="nav-right">
    <button>
      <img src="https://cdn-icons-png.freepik.com/512/1077/1077063.png" alt="User Icon" class="nav-icon" />
      <span class="store-sesion">Iniciar sesión</span>
    </button>
    <button>
      <img src="https://cdn-icons-png.flaticon.com/512/3081/3081986.png" alt="Cart Icon" class="nav-icon" />
    </button>
  </div>
</nav>