<nav>
  <div>
    <img src="https://scontent.faqp2-1.fna.fbcdn.net/v/t39.30808-6/365753892_606529151618021_5070471229029035683_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEZoVdpQYgK1OC78e48QAddn-TFOdiAguuf5MU52ICC6xlBPwjVfgcERLkKJ5ht29QX2qM4umhEojuyhm4niTZi&_nc_ohc=VG6-9qCg59YQ7kNvgFJ0i4-&_nc_ht=scontent.faqp2-1.fna&oh=00_AYBhOL91W9G5ulbOAYu2z4uSRGugY6LNYasgYN5ui18eFA&oe=6692BB7B" alt="ABYLU Store Logo" class="nav-logo" />
  </div>
  <div>
    <span class="store-title">ABYLU Store</span>

    <span>⭐⭐⭐⭐⭐ 4.9/5</span>
  </div>
  <div>
    <button href = "../../../../Login/src/app/pages/login/login.component.html">
      <img src="https://cdn-icons-png.freepik.com/512/1077/1077063.png" alt="User Icon" class="nav-icon" />
      <span class="store-sesion">Iniciar sesión</span>
    </button>
    <button>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkNEBO2OUKQjP-RSbIZae3jIq76g3rMrn9vQ&s" alt="Menu Icon" class="nav-icon" />
    </button>
    <button>
      <img src="https://cdn-icons-png.flaticon.com/512/3081/3081986.png" alt="Cart Icon" class="nav-icon" />
    </button>
  </div>
</nav>