nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  flex: 1;
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  flex: 1;
  justify-content: flex-end;
}

.nav-logo {
  height: 100px;
}

.store-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.nav-icon {
  height: 30px;
}

.store-sesion {
  margin-left: 5px;
  font-size: 14px;
}

.stars {
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  margin-left: 10px;  
}