<div class="product-list">
    <div *ngFor="let producto of productos" class="product-item">
      <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="product-image">
      <div class="product-details">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p><strong>Categoria:</strong> {{ producto.categoria.nombre }}</p>
        <p><strong>Precio:</strong> ${{ producto.precio }}</p>
      </div>
      <div class="product-actions">
        <button (click)="editarProducto(producto.id)">Editar</button>
        <button (click)="eliminarProducto(producto.id)">Eliminar</button>
      </div>
    </div>
  </div>
  