<div class="product-list">
  <h1 class="title">Lista de productos</h1>
  <div class="product-grid">
    <div class="product-card" *ngFor="let producto of productos" (mouseenter)="hoverEffect($event)" (mouseleave)="removeHoverEffect($event)">
      <img class="product-image" [src]="producto.imagen" alt="{{ producto.nombre }}"/>
      <div class="product-info">
        <h2 class="product-name">{{ producto.nombre }}</h2>
        <p class="product-description">{{ producto.descripcion }}</p>
        <p class="product-category">{{ producto.categoria.nombre }}</p>
        <p class="product-price">$ {{ producto.precio | number: '1.2-2' }}</p>
        <div class="product-actions">
          <button (click)="editarProducto(producto.id)">Editar</button>
          <button (click)="eliminarProducto(producto.id)">Eliminar</button>
        </div>
        <p>
          <button class="btn-add-cart">Agregar al carro</button>
        </p>
      </div>
    </div>
  </div>
</div>
