{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar al Carrito</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>Agregar al Carrito</h1>
    <h2>{{ producto.nombre }}</h2>
    <p>{{ producto.descripcion }}</p>
    <p>Precio: {{ producto.precio }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar al Carrito</button>
    </form>
    <a href="{% url 'ver_carrito' %}">Ver Carrito</a>
</body>
</html>
