{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Categoría</title>
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
</head>
<body>
    <h1>Detalle de Categoría</h1>
    <h2>{{ categoria.nombre }}</h2>
    <h2>{{ categoria.descripcion }}</h2>
    <form action="{% url 'categoria_delete' categoria.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'categoria_lista' %}">Volver al Listado</a>
</body>
</html>
