@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@300;400&display=swap');

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff;
  transition: transform 0.2s;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /* Usa la fuente especificada */
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 200px; /* Establece una altura fija para las imágenes */
  object-fit: cover; /* Recorta la imagen para llenar el área especificada */
}



.product-details {
  padding: 10px;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /* Usa la fuente especificada */
}

.new-label {
  display: block;
  background-color: #ff5733;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.product-details h3 {
  margin: 10px 0 0;
  font-size: 18px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /* Usa la fuente especificada */
  font-weight: normal;
  text-align: left; 
  color: #000000;
}

.product-details p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  text-align: left;
  color: #888;
}
