body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

nav a:last-child {
    margin-right: 0;
}

/* Estilo del contenedor principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Estilo del título principal */
main h1 {
    text-align: center;
    color: #333;
}

/* Estilo de la lista de productos */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li h2 {
    margin-top: 0;
    color: #333;
}

li p {
    color: #666;
}

li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

li a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #0056b3;
}

li a:last-child {
    margin-right: 0;
}

li a.agregar-al-carrito {
    background-color: #28a745;
}

li a.agregar-al-carrito:hover {
    background-color: #218838;
}

li a.editar,
li a.eliminar {
    background-color: #ffc107;
}

li a.editar:hover,
li a.eliminar:hover {
    background-color: #e0a800;
}

li a.eliminar {
    background-color: #dc3545;
}

li a.eliminar:hover {
    background-color: #c82333;
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }

    li {
        padding: 15px;
    }
}
