<div class="sidebar" [class.open]="isOpen" (click)="$event.stopPropagation()">
  <div class="sidebar-header">
    <button (click)="toggleSidebar()" class="close-button">&times;</button>
    <img src="../../assets/images/Logo3.png" class="category-image">
    <div class="search-bar">
      <input type="text" placeholder="Buscar..." class="search-input">
      <button class="search-button">🔍</button>
    </div>
  </div>
  <div class="sidebar-content">
    <h3>Categorías</h3>
    <ul>
      <li (click)="selectCategory('Cardigans')">Blusas</li>
      <li (click)="selectCategory('Chalecos')">Chalecos</li>
      <li (click)="selectCategory('Chompas')">Chompas</li>
      <li (click)="selectCategory('Accesorios')">Accesorios</li>
    </ul>
    
    <h3>Menú de Usuario</h3>
    <ul>
      <li>Iniciar Sesión / Cerrar Sesión</li>
      <li>Carrito de Compras</li>
      <li>Lista de Favoritos</li>
    </ul>
  </div>
</div>