<div class="sidebar" [class.open]="isOpen" (click)="$event.stopPropagation()">
    <button (click)="toggleSidebar()" class="close-button">Cerrar</button>
    <img src="../../assets/images/Logo2.png" class="category-image">
    <div class="search-bar">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">🔍</button>
    </div>
    <h3>Categorías</h3>
    <ul>
        <li>Pantalones</li>
        <li>Faldas</li>
        <li>Accesorios</li>
        <li>Maquillaje</li>
    </ul>
    
    <h3>Menú de Usuario</h3>
    <ul>
        <li>Iniciar Sesión / Cerrar Sesión</li>
        <li>Carrito de Compras</li>
        <li>Lista de Favoritos</li>
    </ul>
</div>