<footer>
    <div class="container">
      <div>
        <img src="'../../../../assets/images/Logo.jpeg" alt="ABYLU Store Logo" class="footer-logo" />
        <p>Arequipa - Perú</p>
      </div>
      <div>
        <h3>Información</h3>
        <p>Envíos y cambios</p>
        <p>Métodos de envío</p>
        <p>Preguntas Frecuentes</p>
      </div>
      <div>
        <h3>Empresa</h3>
        <p>Términos y condiciones</p>
        <p>Política de privacidad</p>
        <p>Libro de reclamaciones</p>
      </div>
      <div>
        <h3>Contáctanos</h3>
        <p>+51 907 915 516</p>
      </div>
      <div>
        <h3>Síguenos</h3>
        <p><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook Icon" class="social-icon" /></a></p>
        <p><a href="https://www.instagram.com/abylu.20/?hl=es"><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram Icon" class="social-icon" /></a></p>
        <p><a href="https://www.tiktok.com/@abylu.20?lang=es"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670313.png" alt="TikTok Icon" class="social-icon" /></a></p>
      </div>
    </div>
    <p>© 2024 Abylu. Todos los derechos reservados.</p>
  </footer>
  