@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@300;400&display=swap');
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  footer .container > div {
    flex: 1;
    padding: 10px;
  }
  
  footer h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
  }
  
  footer p, footer a {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  footer a {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-logo {
    width: 150px; 
    height: auto;
  }
  
  .social-icon {
    width: 24px; 
    height: 24px; 
    margin: 5px; /* Espacio entre íconos */
}

/* Ajustes adicionales para la disposición de los íconos */
.social-media {
    margin-top: 20px; /* Espacio superior si es necesario */
}

.social-icons {
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 5px; /* Espacio entre los íconos */
}
 
    