{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ producto.nombre }}</h1>
    <p>{{ producto.descripcion }}</p>
    <p>{{ producto.precio }}</p>
    <p>{{ producto.categoria.name }}</p>
    <a href="{% url 'producto_update' producto.id %}">Editar</a>
    <form action="{% url 'producto_delete' producto.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'producto_lista' %}">Volver al listado</a>
</body>
</html>
